.testimonialsMainContainer{
    background-color: #2545B8;
    max-width: 360px;
    color:white;
    margin: auto;
    font-family: Inter;
}
.testimonialsMainContainer span{
    font-size: 3rem;
    color: #aaa;
}
.testimonialsMaiContainer p{
    margin: 0;
}
.testimonialContent {
    padding:1em;
}
.imageContainer{
    background: linear-gradient(to bottom, white 50%, #2545B8 50% );
}

.image{
    width: 94%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.name{
    padding-top: 20px;
    font-size: .8rem;
}
.title{
    padding-top: 5px;
}

@media (min-width:600px){
    .testimonialsMainContainer{
        max-width: 1200px;
        display: flex;
    }
    .imageContainer{
        width: 450px;
        margin-left: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2545B8;
        height: 100%;
    }
    .image{        
        transform: scale(1.05); 
        height: 450px;
        width: 200px; 
    }
    .testimonialContent{
        margin-left: 20px;
    }
}