.testimonials-main-container{
    background-color: #2545B8;
    max-width: 360px;
    color:white;
    margin: auto;
    font-family: Inter;
}



.testimonials-main-container span{
    font-size: 3rem;
    color: #aaa;
}

.testimonials-main-container p{
    margin: 0;
}

.testimonial-content {
    padding:1em;
}

.image-container{
    background: linear-gradient(to bottom, white 50%, #2545B8 50% );
}

.image{
    width: 100%;
    max-width: 330px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.name{
    padding-top: 20px;
    font-size: .8rem;
}
.title{
    padding-top: 5px;
}

@media (min-width:600px){
    
    .testimonials-main-container{
        max-width: 1200px;
        display: flex;
    }
    .image-container{
        width: 450px;
        margin-left: 30px;
        display: flex;
        align-items: center;
        background: #2545B8;
    }
    .image{        
        transform: scale(1.2);
        max-width: 200px;
        height: 400px;
    }
    .testimonial-content{
        margin-left: 30px;
    }
}