.tooltip-main-container{
    font-family: Inter, sans-serif;
    /* background-color: #ccd; */
    padding: 2px 5px;
    margin: 8px auto;
    position: relative;
    text-align: center;
    width:fit-content;
    font-weight: bold;
}
.popup{
    position: absolute;
    font-weight: bold;
    bottom:102%;
    /* background-color: black; */
    color: #fff;
    text-align: center;
    padding: .4em .6em;
    border-radius: 6px;
    border:solid 1px white;
}
.popup::after {
    content: " ";
    position: absolute;
    top: 92%; /* At the bottom of the tooltip */
    left: 30%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}

.title{

    display: flex;
}
.description{
    margin-top: 5px;
    font-weight: normal;
}




.popup svg{
    width: 30px;
    
}

.tooltip-text{
    margin:0 10px;
}

.children{
    cursor:pointer;
}

.dark{
    background-color: #262626;
}
.dark:after{
    border-color: #262626 transparent transparent transparent;
}
.light{
    background-color: #fff;
    color:#111827;
}
.light:after{
    border-color: #fff transparent transparent transparent;
}

.blue{
    background-color: #1E40AF;
}
.blue:after{
    border-color: #1E40AF transparent transparent transparent;
}
.light-blue{
    background-color: #E0E7FF;
    color:#1E40AF;
    
}
.light-blue:after{
    border-color: #E0E7FF transparent transparent transparent;
}


.purple{
    background-color: #A9229B;
}
.purple:after{
    border-color: #A9229B transparent transparent transparent;
}
.light-purple{
    background-color: #FFF3FC;
    color:#A9229B;
}
.light-purple:after{
    border-color: #FFF3FC transparent transparent transparent;
}


.green{
    background-color: #3C8C4E;
}
.green:after{
    border-color: #3C8C4E transparent transparent transparent;
}
.light-green{
    background-color: #E7FFF3;
    color:#3C8C4E;
}
.light-green:after{
    border-color: #E7FFF3 transparent transparent transparent;
}