body, html {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

/* #root{
  width: 100vw;
  height: 100vh;
} */

.app-container{
  width: 600px;
  min-height: 600px;
  margin: 20px auto;
  background-color: #eee;
  padding: 3em;
  border-radius: 15px;
}

.badge{
  padding: .5em 1em;
  display: inline-block;
  margin: .5em;
  font-family: Inter, sans-serif;
}
.square{
  border-radius: 5px;
}
.pill{
  border-radius: 20px;
}

.red{
  background-color: #FEE2E2;
  color: #991B1B;
}
.gray{
  background-color: #F3F4F6;
  color: #1F2937;
}
.yellow{
  background-color: #FEF3C7;
  color: #991B1B;
}
.green{
  background-color: #D1FAE5;
  color: #065F46;
}
.blue{
  background-color: #DBEAFE;
  color: #1E40AF;
}
.purple{
  background-color: #EDE9FE;
  color: #5B21B6;
}


.banner-container{
  font-family: Inter;
  font-size: 1rem;
  font-weight: bold;
  line-height: 20px;
  border-radius: 6px;
  padding: .8em 1.5em;
  display: flex;
  margin: 1em;
}
.banner-container svg{
  margin-right: 10px;
}

.success{
  background-color: #ECFDF5;
  color: #065F46;
}
.warning{
  background-color: #FFFBEB;
  color: #92400E;
}
.error{
  background-color: #FEF2F2;
  color: #92400E;
}
.neutral{
  background-color: #EFF6FF;
  columns: #1E40AF;
}

.banner-text{
  font-weight: normal;
  font-size: .9em;
  margin-top: .3em;
}
.banner-text-success{
  color: #047857;
}
.banner-text-warning{
  color: #B45309;
}
.banner-text-error{
  color: #B45309;
}
.banner-text-neutral{
  color: #1C51B9;
}